{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h1><a href="{{ path('channel_index') }}">Channels</a></h1>
            <ul>
                {% for channel in channels %}
                    <li><a href="{{ path('feed_get', {'id': channel.id}) }}">Channel</a></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h1>Feeds</h1>
            {% for feed in feeds %}
                <div>
                    <h3>{{ feed.title }}</h3>
                    <p>{{ feed.description|e }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
