{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ channel.type }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ channel.address }}</td>
            </tr>
            <tr>
                <th>Importedat</th>
                <td>{% if channel.importedAt %}{{ channel.importedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('channel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('channel_edit', { 'id': channel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
